.pdf-btn {
    background-color: #233955;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pdf-btn:hover {
    background-color: #233955;
  }
